<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="./libs/angularjs/angular.js"></script>
	<script src="./angular/app.js"></script>
	<script src="./angular/service/DataAPI.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>